### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea
.database

### Go Patch ###
/vendor/
/Godeps/

# Environment
*.env
/postgres-data/
/rabbitmq-data/

# images
/results/
/uploads/
*.jpg
*.jpeg
*.JPG
*.png
*.tiff
